*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #efe196;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    height: 85px;
    background-color: #F5E162;
    box-sizing: border-box;
}
.logo_location{
}
.fa-location-dot{
    color: #FA7A48;
    font-weight: bold;
    font-size: 20px;

}
header a{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #FA7A48;
    text-decoration: none;
    transition: 0.7s;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    border-color: transparent;
    margin-top: 15px;
}
header a:hover{
    background-color: #FA7A48;
    color: #F5E162;
}
.main-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgba(250, 122, 72, 0.5);
}
.main-img img{
    width: 100%;
}
.name-of-sec{
    background-color: #FA7A48;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    text-transform: uppercase;
    color: #F5E162;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.news_item{
    width: 100%;
    padding: 10px;
    border: 2px solid #FA7A48;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.news_item img{
    width: 25%;
}
.news_text {
    width: 66%;
}
.news_text h4{
    color: #FA7A48;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.news_text p{
    font-size: 14px;
    color: cadetblue;
    font-family: 'Raleway', sans-serif;
}
.cat-item{
    width: 45%;
    padding: 5px;
    border: 2px solid #FA7A48;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    transition: 0.7s;
}
.cat-item:hover{
    transform: scale(1.05);
    background-color: white;
}
.cat-line{
    margin-bottom: 50px;
}
.cat-item img{
    width: 100%;
}
.cat-item-text{
    color: #FA7A48;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
/*Менюшка слева*/
    .nav {
        width: 320px;
        min-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -320px;
        padding: 15px 20px;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        background: #FA7A48;
        z-index: 2000;
    }

    .nav-toggle {
        position: absolute;
        left: 307px;
        top: 0.6em;
        padding: 0.5em;
        background: transparent;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.6em;
        line-height: 1;
        z-index: 2001;
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }


    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }


    .nav-toggle:hover {
        color: #fff;
        transform: scale(1.05);
    }


    [id='nav-toggle'] {
        position: absolute;
        display: none;
    }


    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;
        right: 2px;
        top: 1em;
    }

    [id='nav-toggle']:checked ~ .nav {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }


    [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(320px);
        -moz-transform: translateX(320px);
        transform: translateX(320px);
    }

    [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
        content: '\2715';
    }

    body {
        -webkit-animation: bugfix infinite 1s;
    }

    @-webkit-keyframes bugfix {
        to {
            padding: 0;
        }
    }

    .nav h2 {
        width: 90%;
        padding: 0;
        margin: 10px 0;
        text-align: center;
        text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
        font-size: 1.3em;
        line-height: 1.3em;
        opacity: 0;
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        transition: opacity 0.8s, transform 0.8s;
        -ms-transition: opacity 0.8s, -ms-transform 0.8s;
        -moz-transition: opacity 0.8s, -moz-transform 0.8s;
        -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    }

    .nav h2 a {
        color: #F5E162;
        text-decoration: none;
        text-transform: uppercase;
    }

    [id='nav-toggle']:checked ~ .nav h2 {
        opacity: 1;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    .nav > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav > ul > li {
        line-height: 2.5;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }

    [id='nav-toggle']:checked ~ .nav > ul > li {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }


    .nav > ul > li:nth-child(2) {
        -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
        transition: opacity .5s .2s, transform .5s .2s;
    }

    .nav > ul > li:nth-child(3) {
        -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
        transition: opacity .5s .3s, transform .5s .3s;
    }

    .nav > ul > li:nth-child(4) {
        -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
        transition: opacity .5s .4s, transform .5s .4s;
    }

    .nav > ul > li:nth-child(5) {
        -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
        transition: opacity .5s .5s, transform .5s .5s;
    }

    .nav > ul > li:nth-child(6) {
        -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
        transition: opacity .5s .6s, transform .5s .6s;
    }

    .nav > ul > li:nth-child(7) {
        -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
        transition: opacity .5s .7s, transform .5s .7s;
    }

    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        color: #F5E162;
        width: 100%;
        text-decoration: none;
        /* плавный переход */
        -webkit-transition: color .5s ease, padding .5s ease;
        -moz-transition: color .5s ease, padding .5s ease;
        transition: color .5s ease, padding .5s ease;
    }


    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: white;
        padding-left: 15px;
    }


    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }

    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #F5E162;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }
footer{
    height: 50px;
    box-sizing: border-box;
    padding-top: 19px;
    background-color: #FA7A48;
}
footer p{
    color: #F5E162;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;

}
/*Email input form*/
    .footer_1_input{
        color: #FA7A48;
        padding: 10px;
        width: 100%;
        border: 1px solid #FA7A48;
        background-color: white;
        margin-bottom: 30px;
        box-sizing: border-box;
        outline: none;
    }
    .footer_1_input::placeholder{
        color: #FA7A48;
    }
    .footer_1_input_2::placeholder{
        color: #FA7A48;
    }
    .footer_1_input_2{
        color: #FA7A48;
        padding: 10px;
        width: 100%;
        border: 1px solid #FA7A48;
        background-color: white;
        margin-bottom: 30px;
        box-sizing: border-box;
        outline: none;
        height: 150px;
    }
    .footer_1_button{
        width: 100%;
        background-color: #F5E162;
        color: #FA7A48;
        font-size: 22px;
        text-align: center;
        padding: 12px;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid #F5E162;
        margin-bottom: 30px;
    }
    .footer_1_button:hover{
        color: #FA7A48;
        border-color: #FA7A48;
        background-color: #ffe3da;
        transition: 0.4s;
    }

    .email_h2{
        margin-bottom: 30px;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        color: #FA7A48;
        text-transform: uppercase;
    }

.gallery{
    background-color: #efe196;
    padding-bottom: 50px;
}
.photo_line{
    width: 100%;
}
.photo_img{
    width: 30%;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 0.5s;
}
.photo_img:hover{
    transform: scale(1.1);
}
.ffkfk{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #FA7A48;
}
.white-block{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid #FA7A48;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 30px;
}
.item{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid #FA7A48;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: 0.7s;
}
.item:hover{
    transform: scale(1.05);
}
.item-sec img{
    width: 25%;
}
.info_h4{
    color: #FA7A48;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.item-text p{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #FA7A48;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;

}